/* google font */
* {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

/* Css common style  */
.btn-primary {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border: 0px;
  color: white;
  font-size: medium;
  border-radius: 8px;
  background: #e55473;
  margin-top: 20px;
}

/* Banner sytles start */
.banner-container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 0px;
}
.banner {
  margin: 180px 0px 0px 240px;
}
.banner-image {
  margin: 50px 240px 0px 95px;
}
.banner-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

/* Flower featured styles */
.featured-section {
  margin: 178px 240px 128px 240px;
}
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 5px;
}
.featured-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 10px;
}
.featured-flower {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flower-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 100px 76px 0px 76px;
}
.flower-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 100px 60px 58px 60px;
}
.flower-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 70px 80px 0px 80px;
  margin-top: 10px;
  width: 63%;
}
.flower-text {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

.featured-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 128px 40px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 175px;
}
.featured-png {
  margin: 20px 50px;
}
.featured-png img {
  margin-left: 50px;
}

/* Hot deal Section */
.offer-container {
  display: flex;
  margin: 128px 0px;
  padding: 100px 430px 100px 440px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-top: 230px;
}
span {
  color: #e55473;
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-right: 47px;
}
#hot-deal-btn {
  margin-left: 200px;
}
.hot-deal-img {
  margin-top: 50px;
  margin-left: 50px;
}

/* Instagram Section style */
.instagram {
  margin: 128px 240px;
}
.social-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.social-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}
.social-banner {
  display: flex;
  justify-content: space-around;
}

/* Latest deal style */

.lates-deal {
  margin: 128px 240px 128px 270px;
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  padding: 121px 350px;
}
.latest-deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.deal-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.subscribe-email {
  border-radius: 8px;
  background: #fff;
  border: 0px;
  padding: 20px 300px 20px 20px;
  margin-right: 15px;
}
.deal-subscribe{
  text-align: center;
  
 
}

/* Review Section */
.review-container{
  margin: 128px 240px;
  background-color: antiquewhite;
  padding: 20px;
}
.review{
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.content-block{
  display: block;
 
}
.fa-solid{
  text-align: start;
  font-size: 20px;
  color: coral;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name{
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0px;
}
.review-text{
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.review-2{
  text-align: center;
}
.review-3{
  text-align: center;
}
.content-block img{
  border-radius: 50%;
}

/* footer */
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 128px 780px;
  
}
.footer-title{
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 5px;
}
small{
  color: rgba(255, 255, 255, 0.40); 
}